body {
  margin: 10px;
  font-family: Ubuntu;
  background-image: url("../data/focal-fossa.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}

::-webkit-scrollbar {
  width: 0px;
}

.loader {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background: #0D0D0D;
  opacity: 1;
}

.loader .ubuntu-logo {
  margin: auto;
  position: relative;
  display: block;
  max-width: 100%;
  margin-top: 10vh;
}

.loader .ubuntu-loading {
  margin: auto;
  position: relative;
  display: block;
  animation: rotation 2s infinite linear;
}

@keyframes rotation {
  from { transform: rotate(0deg); }
  to { transform: rotate(359deg); }
}

p,
strong {
  font-family: Ubuntu;
  font-weight: 700;
}

td {
  color: #e0e8f0;
  vertical-align: top;
}

.terminal-window {
  text-align: left;
  width: 680px;
  height: 400px;
  border-radius: 10px;
  margin: auto;
  position: relative;
  display: block;
  transition: all 0.5s ease;
  background-color: #0D0D0D;
}

.terminal-window header {
  background: #2C2C2C;
  height: 30px;
  border-radius: 8px 8px 0 0;
  padding-left: 10px;
  padding-right: 10px;
  text-align: right;
}

.terminal-window header .button {
  width: 18px;
  height: 18px;
  margin: 5px 4px 0 0;
  display: inline-block;
  border-radius: 20px;
  text-align: center;
  vertical-align: middle;
}

.terminal-window header .button.flip {
  cursor: pointer;
  padding-top: 3px;
  font-size: 10pt;
}

.terminal-window header .button.green {
  cursor: pointer;
  padding-top: 5px;
  font-size: 8pt;
}

.terminal-window header .button.yellow {
  cursor: pointer;
  padding-top: 5px;
  font-size: 8pt;
}

.terminal-window header .button.red {
  cursor: pointer;
  margin-top: 5px;
  font-size: 12pt;
}

.terminal-window .header-title {
  margin-top: 8px;
  text-align: left;
  font-size: 10pt;
  color: white;
  float: left;
}

.terminal-window #terminal {
  color: white;
  font-family: Ubuntu, Menlo, Monaco, "Consolas", "Courier New", "Courier";
  font-size: 11pt;
  background: #300a24;
  padding: 10px;
  box-sizing: border-box;
  position: absolute;
  width: 100%;
  top: 30px;
  bottom: 0;
  overflow: auto;
}

.terminal-window #terminal p,
.terminal-window #terminal li {
  font-weight: 400;
}

.terminal-window #terminal .sudo {
  max-width: 100%;
  width: 300px;
  height: auto;
}

.terminal-window .contact {
  list-style: none;
  margin-left: -30px;
}

.terminal-window h4 {
  text-align: center;
}

.terminal-window a {
  display: block;
}

.terminal-window .input {
  outline-color: #30353a;
  border: none;
  display: inline-flex;
  resize: none;
}

.terminal-window .home {
  color: #95F584;
}

.terminal-window .insta {
  color: #F77737;
}

.terminal-window .gold {
  color: gold;
}

.terminal-window .blue {
  color: #3030fc;
}

.terminal-window .li-blue {
  color: #59d6ff;
}

.terminal-window .white {
  color: #e0e8f0;
}

.terminal-window .gray {
  color: gray;
}

.terminal-window .dir {
  color: #59d6ff;
}

.terminal-window .green {
  color: #3bb662;
}

.terminal-window .title-link {
  padding-bottom: 2px;
  color: #59d6ff;
  text-decoration: none;
}

.command_input {
  border: none;
  background: #000634;
  color: white;
}

.fabFlip {
  position: absolute;
  bottom: 20px;
  right: 20px;
  z-index: 101;
  border-radius: 50%;
  box-shadow: inset 0 0 10px 4px #c24619d6;
  cursor: pointer;
  user-select: none;
  font-size: 14pt;
}

.fabFlip .flip-img {
  height: 40px;
  width: 40px;
  padding: 7px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #cccccd;
}

.fabFlip .flip-img.animate {
  animation: rotation 2s infinite linear;
}

.footer {
  position: absolute;
  top: 80vh;
  left: 0;
  right: 0;
  text-align: center;
  line-height: 0.1px;
  color: white;
  font-family: Menlo, Monaco, "Consolas", "Courier New", "Courier";
  user-select: none;
  z-index: 2;
}

.footer .flip-btn {
  font-weight: bold;
  color: #F77737;
}

.footer p {
  font-weight: 500;
}

.footer .copyright {
  font-size: 8pt;
}

.terminal-data {
  display: none;
}

@media only screen and (max-width: 680px) {
  .footer {
    bottom: 20px;
  }
}
