#leftcol {
  width:200px;
  background-color: #272727;
  color: #d6d6d6;
  font-family: Ubuntu;
  font-size: 11pt;
  float: left;
  height: inherit;
}

#rightcol {
  margin-left: 200px; 
  background-color: #0D0D0D;
  height: 100%;
  display: block !important;
  position: fixed;
  overflow: auto;
  width: -moz-available;
  width: -webkit-fill-available;
  float: right;
  z-index: -1;

  .profile-image {
    border-radius: 50%;
    width: 150px;
    height: auto;
    margin-top: 20px;
    margin: auto;
    display: block;
    padding: 10px;
  }
  
  .self-name {
    margin: auto;
    display: block;
    text-align: center;

    .name {
      font-size: large;
      color: #00b7ff;
    }
    .title {
      font-size: medium;
      color: bisque;
    }
  }

  .about-ul {
    padding-left: 30px;
    padding-right: 30px;
    position: relative;
    color: #efefef;
    text-align: justify;
  }

  .about-li {
    padding-left: 10px;
    padding-bottom: 15px;
    font-size: 11pt;
  }

  .edu-title {
    font-size: x-large;
    margin: auto;
    display: block;
    padding: 10px;
    text-align: center;
    color: #d1d1d1;;
  }

  .edu-ul {
    padding-left: 25px;
  }

  .edu-li {
    padding-left: 5px;
    padding-bottom: 5px;

    .title {
      font-size: large;
      color: #efefef;
    }
    .year {
      font-size: small;
      color: #6d6d6d;
    }
    .course {
      font-size: medium;
      color: #afafaf;
    }
    .grade {
      font-size: 14px;
      color: #ccc;
    }
  }
}

.leftcolTab {
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  user-select: none;
  display: flex;
  align-items: center;

  &:hover {
    background-color: #2F2F2F;
    color: whitesmoke;
  }

  &.active {
    background-color: #c24619;

    &:hover {
      background-color: #cc491a;
    }
  }

  .icon {
    width: 20px;
    text-align: center;
    margin-right: 5px;
  }
}

.content {
  color: whitesmoke;
  height: 100%;
  overflow-y: scroll;
  scrollbar-width: none;
  position: relative;
}


@media only screen and (max-width: 680px){
  #rightcol {
    margin-left: 0;
  }

  .w3-sidenav {
    display: none !important;

    &.active {
      display: block !important;
    }
  }

  .w3-opennav {
    display: block;
    color: #e4e4e4;;
    padding-left: 15px;
    font-size: 32px;
    position: absolute;
    z-index: 10;
  }
}

@media only screen and (min-width: 680px){
  .w3-opennav {
    display: none !important;
  }

  .w3-sidenav {
    display: block !important;
  }
}

