#leftcol {
  width: 25%;
  background-color: #272727;
  color: #d6d6d6;
  font-family: Ubuntu;
  font-size: 11pt;
  float: left;
  height: initial;
  overflow: auto;
  bottom: 0;
  position: fixed;
  z-index: -1;
  top: 30px;
  padding-bottom: 10px;
  padding-top: 10px;
}

#rightcol {
  margin-left: 25%;
  background-color: #0D0D0D;
  height: initial;
  display: block !important;
  position: fixed;
  overflow: auto;
  width: -moz-available;
  width: -webkit-fill-available;
  float: right;
  z-index: -2;
  bottom: 0;
  top: 30px;
  padding-bottom: 20px;
}

#rightcol .profile-image {
  border-radius: 50%;
  width: 150px;
  height: auto;
  margin-top: 20px;
  margin: auto;
  display: block;
  padding: 10px;
}

#rightcol .self-name {
  margin: auto;
  display: block;
  text-align: center;
}

#rightcol .self-name .name {
  font-size: large;
  color: #00b7ff;
}

#rightcol .self-name .title {
  font-size: medium;
  color: bisque;
}

#rightcol .self-name br {
  display: block;
  margin: 2px 0;
}

#rightcol .about-ul {
  padding-left: 30px;
  padding-right: 30px;
  position: relative;
  color: #efefef;
  padding-bottom: 10px;
}

#rightcol .about-li {
  padding-left: 10px;
  padding-bottom: 15px;
  font-size: 11pt;
}

#rightcol .about-para {
  font-size: 11pt;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 10px;
  position: relative;
  color: #efefef;
  font-weight: normal;
  line-height: 1.3;
  text-align: center;
}

#rightcol .about-para br {
  display: block;
  margin: 10px 0;
}

#rightcol .head-title {
  font-size: x-large;
  margin: auto;
  display: block;
  padding-top: 10px;
  text-align: center;
  color: #d1d1d1;
}

#rightcol .edu-ul {
  padding-left: 25px;
}

#rightcol .edu-li {
  padding-left: 5px;
  padding-bottom: 5px;
}

#rightcol .edu-li .title {
  font-size: large;
  color: #efefef;
  margin: 3px;
}

#rightcol .edu-li .year {
  font-size: small;
  color: #888787;
  margin: 3px;
}

#rightcol .edu-li .course {
  font-size: medium;
  color: #afafaf;
  margin: 3px;
}

#rightcol .edu-li .grade {
  font-size: 14px;
  color: #ccc;
  margin: 3px;
}

#rightcol .exp-section {
  padding-left: 10px;
  padding-right: 25px;
  line-height: 1.5;
}

#rightcol .exp-item {
  padding-left: 5px;
  padding-bottom: 5px;
}

#rightcol .exp-item .exp-title-table {
  width: 100%;
}

#rightcol .exp-item .exp-title-table .logo {
  vertical-align: middle;
  width: 50px;
}

#rightcol .exp-item .exp-title-table .logo img {
  border-radius: 8px;
  padding: 5px;
  width: inherit;
}

#rightcol .exp-item .exp-title-table .title {
  font-size: large;
  color: #efefef;
  text-align: left;
  vertical-align: bottom;
}

#rightcol .exp-item .exp-title-table .time {
  font-size: small;
  color: #6d6d6d;
  text-align: right;
  vertical-align: bottom;
}

#rightcol .exp-item .exp-title-table .desig {
  font-size: medium;
  color: #afafaf;
  text-align: left;
  vertical-align: top;
}

#rightcol .exp-item .exp-title-table .location {
  font-size: 14px;
  color: #ccc;
  text-align: right;
  vertical-align: top;
}

#rightcol .exp-item .exp-desc-ul {
  line-height: 1.25;
  list-style: disclosure-closed;
  font-size: 11pt;
  padding-left: 55px;
  color: #cccccd;
}

#rightcol .resume-frame {
  height: 100%;
  width: 100%;
  border: 0;
  background: url(../data/loading.svg);
  background-repeat: no-repeat;
  background-position: center 20px;
}

#rightcol .helptext {
  text-align: center;
  font-size: 10pt;
  color: #cccccd;
  margin-top: 0;
  margin-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
}

#rightcol .contact-tbl {
  line-height: 1.25;
  font-size: 11pt;
  color: #cccccd;
  margin: auto;
  margin-top: 50px;
}

#rightcol .tech-container {
  float: left;
  font-size: 12pt;
}

#rightcol .tech-container .big {
  font-size: 30pt;
  padding-right: 10px;
  line-height: 1.4;
}

.leftcolTab {
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  user-select: none;
  display: flex;
  align-items: center;
  height: 25px;
}

.leftcolTab:hover {
  background-color: #2F2F2F;
  color: whitesmoke;
}

.leftcolTab.active {
  background-color: #c24619;
}

.leftcolTab.active:hover {
  background-color: #cc491a;
}

.leftcolTab .icon {
  width: 20px;
  text-align: center;
  margin-right: 5px;
}

.content {
  color: whitesmoke;
  position: relative;
  padding-top: 16px;
  padding-bottom: 24px;
  padding-left: 24px;
  padding-right: 24px;
  line-height: 1.5;
  max-width: 980px;
  margin: 0 auto;
}

.nav-opener:focus-visible {
  outline: 2px solid #2C6DB2;
  outline-offset: 2px;
  border-radius: 4px;
}

@media only screen and (max-width: 680px){
  #rightcol {
    margin-left: 0;
  }

  #leftcol {
    display: block;
    width: 0;
    -webkit-transition: width 0.4s ease-in-out;
    -moz-transition: width 0.4s ease-in-out;
    -o-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
  }

  #leftcol.active {
    width: 200px;
  }

  .nav-opener {
    display: block;
    color: #e4e4e4;
    padding-left: 15px;
    font-size: 30px;
    position: absolute;
    z-index: 10;
    user-select: none;
    margin-top: 5px;
  }
}

@media only screen and (min-width: 680px){
  .nav-opener {
    display: none;
  }
}
